#head {
    background: #505D6E url(../images/front.jpg) no-repeat center center fixed;
    height: 100vh;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#register {
    position: relative;
    top: 40vh;
    right: 0.6vw;
}

.collection {
    /*float: left;*/
    clear: both;
    position: relative;
    width: 580px;
    height: 200px;
    margin: 0 auto;
}

.collection:hover .card {
    z-index: 1;
    opacity: 1;
    width: 120px;
    height: 169px;
}

.collection:hover .card:hover {
    z-index: 10;
    -webkit-transform: rotate(0deg);
    width: 213px;
    height: 300px;
    top: -38px;
    opacity: 1;
}

.collection .card {
    position: relative;
    float: left;
    width: 142px;
    height: 200px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
}

.collection .card:nth-child(1) {
    -webkit-transform: rotate(-6deg);
    top: 40px;
    left: 9px;
    z-index: 5;
}

.collection .card:nth-child(2) {
    -webkit-transform: rotate(-2deg);
    left: -9px;
    z-index: 3;
}

.collection .card:nth-child(3) {
    -webkit-transform: rotate(-5deg);
    top: 26px;
    left: -36px;
    z-index: 1;
}

.collection .card:nth-child(4) {
    -webkit-transform: rotate(7deg);
    top: 15px;
    left: -46px;
    z-index: 3;
}

.wel_container {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    background-image: radial-gradient(mintcream 0%, lightgray 100%);
    margin: 4% auto;
    width: 210px;
    height: 140px;
    position: relative;
    perspective: 1000px;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}

#carousel:hover {
    animation-play-state: paused;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 186px;
    height: 116px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}

#carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
}

#carousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
}

#carousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
}

#carousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
}

#carousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}

#carousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}

#carousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}

#carousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}

#carousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}

#carousel img {
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
}

#carousel img:hover {
    -webkit-filter: grayscale(0);
    transform: scale(1.2, 1.2);
}

@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}


/* music_life-web
    * --------------------------------------- */

.port-grid {
    padding: 0px;
    width: 20%;
    float: left;
}

.portfolio-wrapper img {
    width: 100%;
}

#portfoliolist .portfolio {
    display: none;
    margin-top: -3px;
    width: 100%;
}

.portfolio-wrapper {
    position: relative;
}

.simple-in {
    display: none;
    position: absolute;
    top: 0;
    background: rgba(24, 210, 126, 0.44);
    width: 100%;
    border: 5px solid #BBE42A;
    height: 100%;
}

.portfolio-wrapper:hover .simple-in {
    display: block;
}

.b-link-stripe {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    overflow: hidden;
    width: 100%;
}

.b-link-stripe .b-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    overflow: hidden;
}

.b-link-stripe .b-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    background: rgba(187, 228, 42, 0.6);
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
}

.b-link-stripe:hover .b-line {
    visibility: visible;
}

.b-link-stripe .b-line1 {
    left: 0;
}

.b-link-stripe .b-line2 {
    left: 20%;
    transition-delay: 0.1s !important;
    -moz-transition-delay: 0.1s !important;
    -ms-transition-delay: 0.1s !important;
    -o-transition-delay: 0.1s !important;
    -webkit-transition-delay: 0.1s !important;
}

.b-link-stripe .b-line3 {
    left: 40%;
    transition-delay: 0.2s !important;
    -moz-transition-delay: 0.2s !important;
    -ms-transition-delay: 0.2s !important;
    -o-transition-delay: 0.2s !important;
    -webkit-transition-delay: 0.2s !important;
}

.b-link-stripe .b-line4 {
    left: 60%;
    transition-delay: 0.3s !important;
    -moz-transition-delay: 0.3s !important;
    -ms-transition-delay: 0.3s !important;
    -o-transition-delay: 0.3s !important;
    -webkit-transition-delay: 0.3s !important;
}

.b-link-stripe .b-line5 {
    left: 80%;
    transition-delay: 0.4s !important;
    -moz-transition-delay: 0.4s !important;
    -ms-transition-delay: 0.4s !important;
    -o-transition-delay: 0.4s !important;
    -webkit-transition-delay: 0.4s !important;
}

.b-link-stripe:hover .b-line {
    opacity: 1;
}

.b-animate-go {
    text-decoration: none;
}

.b-animate {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    visibility: hidden;
    font-size: 1.1em;
    font-weight: 700;
}

.b-animate-go:hover .b-animate {
    visibility: visible;
}

.b-from-left {
    position: relative;
    left: -100%;
    background: rgba(187, 228, 42, 0.05);
    background-size: 100%;
    margin: 0;
    height: 100%;
}

.b-animate-go:hover .b-from-left {
    left: 0;
}

.animate-head {
    padding: 5em 0em;
}

.animate-head-left {
    text-align: center;
}

.animate-head-left span {
    font-size: 0.875em;
    text-transform: lowercase;
    font-weight: normal;
    font-style: italic;
    line-height: 1.3em;
    margin-top: 0;
}

.portfolio {
    margin-top: 2px !important;
    padding-right: 2px !important;
}

.b-animate p {
    font-size: 20px;
    font-family: 'FjallaOne-Regular';
    font-weight: 100;
    bottom: 10px;
    position: absolute;
    left: 10px;
}

.port-like {
    font-size: 14px;
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.port-heart {
    font-size: 14px;
    bottom: 10px;
    position: absolute;
    right: 52px;
}

.port-like span {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.port-heart span {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.modal-dialog {
    position: absolute;
    top: 10vh;
    right: 10vw;
    bottom: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    padding: 0;
}

.modal-title {
    text-align: center;
    font-size: 52px;
    position: relative;
    color: #fff;
    left: -5vw;
}


/*.modal-content {
    position: absolute;
    top: 10vh;
    right: 10vw;
    bottom: 10vh;
    left: 10vw;
    box-shadow: none;
}

.modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100vw;
    font-weight: 300;
    overflow: auto;
}*/


/*-- team --*/

.team {
    background: #14A748;
}

.ch-item {
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.ch-info-wrap,
.ch-info {
    position: absolute;
    width: 162px;
    height: 162px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.ch-info-wrap {
    top: 20px;
    left: 20px;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8);
}

.ch-info {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-front {
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    z-index: 100;
    box-shadow: inset 2px 1px 4px rgba(0, 0, 0, 0.1);
}

.ch-info .ch-info-back {
    background: rgba(230, 132, 107, 0);
}

.b-img-1 {
    background-image: url(../images/b1.jpg);
}

.b-img-2 {
    background-image: url(../images/b2.jpg);
}

.b-img-3 {
    background-image: url(../images/b3.jpg);
}

.b-img-4 {
    background-image: url(../images/b4.jpg);
}

.sb {
    width: 162px !important;
    height: 162px !important;
    margin: 0px !important;
}

.gb {
    width: 340px !important;
    height: 263px !important;
    margin: 0px !important;
    background-color: transparent !important;
}

.popover-example {
    margin: 0 0 10px;
    list-style: none;
}

.popover-example li {
    display: inline-block;
    margin: 4px;
    padding: 0px;
}

.btn:focus {
    outline: none;
}

.modExample .btn {
    margin: 4px 8px 4px 0;
}

.ch-info h4 {
    font-family: 'Roboto-Regular';
    color: #DF1E1C;
    letter-spacing: 2px;
    font-size: 17px;
    padding: 40px 0 0 0;
}

.ch-info p {
    color: #464646;
    line-height: 1.8em;
    padding: 10px 5px;
    font-style: italic;
    font-size: 13px;
}

.ch-item:hover .ch-info-front {
    -webkit-transform: rotate3d(1, 0, 0, -180deg);
    -moz-transform: rotate3d(1, 0, 0, -180deg);
    -o-transform: rotate3d(1, 0, 0, -180deg);
    -ms-transform: rotate3d(1, 0, 0, -180deg);
    transform: rotate3d(1, 0, 0, -180deg);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.ch-item:hover .ch-info-back {
    background: #fff;
}


/*--common css--*/

.ch-grid {
    position: relative;
    left: -5vw;
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 0 20px;
}


/*-- //team --*/
