ul.share-buttons {
    list-style: none;
    padding: 0;
    position: fixed;
    top: 2vh;
    right: 2em;
    z-index: 100;
}

ul.share-buttons li {
    display: inline !important;
}

.social-icon {
    width: 30px;
    margin: 4px;
    height: 30px;
}

#head {
    background: #505D6E url(../images/front.jpg) no-repeat center center fixed;
    height: 100vh;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#register {
    position: relative;
    top: 40vh;
    right: 0.6vw;
}

#events {
    overflow: hidden;
}

.collection {
    /*float: left;*/
    clear: both;
    position: relative;
    width: 800px;
    height: 200px;
    margin: 0 auto;
}

#card_id {
    margin-right: -15px;
    margin-left: 155px;
}


/*.cards {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.card {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}*/

.collection:hover .card {
    z-index: 1;
    opacity: 1;
    width: 120px;
    height: 169px;
}

.card {
    width: 160px !important;
}

.collection:hover .card:hover {
    z-index: 10;
    -webkit-transform: rotate(0deg);
    width: 213px;
    height: 300px;
    top: -38px;
    opacity: 1;
}

.card:hover {
    width: 250px !important;
}

.collection .card {
    position: relative;
    float: left;
    width: 142px;
    height: 200px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
}

.collection .card:nth-child(1) {
    -webkit-transform: rotate(-6deg);
    top: 40px;
    left: 9px;
    z-index: 5;
}

.collection .card:nth-child(2) {
    -webkit-transform: rotate(-2deg);
    left: -9px;
    z-index: 3;
}

.collection .card:nth-child(3) {
    -webkit-transform: rotate(-5deg);
    top: 26px;
    left: -36px;
    z-index: 1;
}

.collection .card:nth-child(4) {
    -webkit-transform: rotate(7deg);
    top: 15px;
    left: -46px;
    z-index: 3;
}

.burger {
    position: relative;
    right: 20px !important;
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}

.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
    display: none;
}

.burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navigation {
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.list-item {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.list-item:hover {
    -webkit-transform: translate(0.9em, -0.9em);
    transform: translate(0.9em, -0.9em);
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.list-item:hover:before,
.list-item:hover:after {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.list-item:after {
    -webkit-transform: rotate(89deg) skew(0, 45deg);
    transform: rotate(90deg) skew(0, 45deg);
}

.list-item:before {
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.burger-check:checked ~ .navigation {
    max-height: 500px;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

small {
    font-size: 14px;
}

.navigation li {
    list-style: none;
    font-weight: bolder;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 7px 7px !important;
}

.lead {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: #FDF9F4;
}

.close {
    z-index: 100;
}

.modal-open {
    section {
        -webkit-filter: blur(20px);
        -moz-filter: blur(20px);
        filter: blur(20px);
    }
}

.modal-dialog {
    .modal-content {
        border-radius: 0;
        box-shadow: none;
        background-color: rgba(255, 255, 255, .9);
        padding-left: 30px;
        padding-right: 30px;
    }
}

.modal-backdrop {
    background-color: #000;
}

.columns {
    column-count: 3;
    column-gap: 20px;
}

img {
    width: 100%;
    cursor: pointer;
}
